
<img src="assets/header_top.png" class="imgTop" />

<nav class="darkGradientBackground">

  <div class="center">
    <ul>
      <li>
        <a href="" id="opportunities-link">Careers</a>
      </li>
      <li>
        <a href="" id="community-link">Community</a>
      </li>
      <li>
        <a href="" id="education-link">Education</a>
      </li>
      <li>
        <a href="" id="adventures-link">Adventures</a>
      </li>
    </ul>

    <div class='float-right signup-box'>
      <a href="" class="signup-btn green-btn">Join</a>
      <a href="" class="signup-btn signIn-btn">Sign in</a>
    </div>
  </div>

</nav>
