
<nav class="darkGradientBackground">
  <a href="" class="float-left home-btn"><img src="assets/esc-logo.png" /></a>

  <div>
    <ul>
      <li>
        <a href="" id="opportunities-link">Careers</a>
      </li>
      <li>
        <a href="" id="community-link">Community</a>
      </li>
      <li>
        <a href="" id="education-link">Education</a>
      </li>
      <li>
        <a href="" id="adventures-link">Adventures</a>
      </li>
    </ul>

    <div class='float-right'>
      signed in
    </div>
  </div>
</nav>
