
<nav class="darkGradientBackground">
  <a href="" class="float-left home-btn"><img src="assets/esc-logo.png" /></a>

  <div>
    <ul>
      <li>
        <a href="" id="opportunities-link">Careers</a>
      </li>
      <li>
        <a href="" id="community-link">Community</a>
      </li>
      <li>
        <a href="" id="education-link">Education</a>
      </li>
      <li>
        <a href="" id="adventures-link">Adventures</a>
      </li>
    </ul>

    <div class='signup-box signedIn'>
      <input type="text" />
      <a href="" class="signup-btn green-btn">Search</a>
      <a href="" class="signup-btn">Employer?</a>
      <a href="" class="signup-btn">About</a>
      <a href="" class="signup-btn">Blog</a>
      <a href="" class="signup-btn logout">Logout</a>
    </div>
  </div>
</nav>
