
@import base


// ********************************************************************************** GENERAL


// ********************************************************************************** STORY
.story
  float: left
  margin: 2em

  width: 2em
  height: 2em
  background-color: green

  &.big
    width: 5em
    height: 2em
    background-color: red

  &.tall
    height: 5em
    background-color: blue

